<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>write</title>
    <base th:href="${responseModel.getBaseUrl()}">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/write.css">
    <script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
</head>
<body >

    <div class="title" >
        <input id="title" type="text" placeholder="">
    </div>

    <div id="div1" class="toolbar" style="margin-left: 15%;margin-top: 50px;background: #eee">
    </div>
    <div id="div2" class="text" style="margin-left: 15%"> <!--可使用 min-height 实现编辑区域自动增加高度-->

    </div>
    <button id="submit" class="submit">提交</button>

    <section class="footer">
        <p>Copyright &copy; 2018 Company Name . Design:
            <span th:if="${!responseModel.isLogin()}"><a href="login">y14</a></span>
            <span th:if="${responseModel.isLogin()}"><a href="user/loginOut">y14</a></span>
        </p>
    </section>




    <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
    <script type="text/javascript" src="js/write/wangEditor.min.js"></script>
    <script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#div1', '#div2')
        editor.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
        editor.create()

        document.getElementById('submit').addEventListener('click', function () {
            var data ={"title":$("#title").val(),"content":editor.txt.html()}

            $.ajax({
                url:"blog/private/saveblog",
                data:data,
                type:"post",
                success:function (result) {
                    if (result.resultCode==4002){
                        window.location.href=result.successUrl;
                    } else if (result.resultCode==4004){
                        console.log(result.resultMessage);
                    }
                }
            })

        }, false)
    </script>
</body>
</html>